@page "/personnel"

@inherits PersonnelBase
@inject IJSRuntime JSRuntime
<PageTitle>Personnel</PageTitle>

<h1 style="text-align: center;">Personal Profile Index</h1>

<p>This component is grabbing a summary of Personnel Data.</p>

@if (PersonnelList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Modal @ref="bioModalRef" ScrollToTop=false>
    <ModalContent Size="ModalSize.ExtraLarge">
        <ModalHeader>
            <div class="card-header">
                <h5>Bio Information</h5>
                <button type="button" class="close" @onclick="HideModal">
                    <span>&times;</span>
                </button>
            </div>
        </ModalHeader>
        <ModalBody>
            <div class="card-body">
                <!-- Display Bio information here -->
                @if (bioData != null)
                    {
                        <div class="form-group row">
                            <div class="form-group col">
                                <label for="Name">Name: </label>
                                <input type="text" id="fullName" class="form-control form-control-sm " readonly
                                    value="@($"{SelectedPerson.FirstName}, {SelectedPerson.LastName}")" />
                            </div>
                            <div class="form-group col">
                                <label for="bioNickname">Nickname:</label>
                                <input type="text" id="bioNickname" class="form-control form-control-sm " readonly value="@bioData.bioNickname" />
                            </div>
                            <div class="form-group col">
                                <label for="bioRank">Rank:</label>
                                <input type="text" id="bioRank" class="form-control form-control-sm " readonly value="@bioData.bioRank" />
                            </div>
                            <div class="form-group col">
                                <label for="bioCity">HomeTown:</label>
                                <input type="text" id="bioCity" class="form-control form-control-sm " readonly value="@($"{bioData.bioCity}, {bioData.bioState}")" />
                            </div>
                            <div class="form-group col">
                                <label for="Born">Born at:</label>
                                <input type="text" id="Born" class="form-control form-control-sm " readonly value="@($"{bioData.bioBirthCity}, {bioData.bioBirthState}")" />
                            </div>
                        </div>
                        <div class="form-group row">

                            <div class="form-group col">
                                <label for="entry">Entered at:</label>
                                <input type="text" id="enty" class="form-control form-control-sm " readonly value="@($"{bioData.bioEntryLocation}, {bioData.bioEntryState}")" />
                            </div>
                            <div class="form-group col">
                                <label for="bioDateEnteredService">Entered:</label>
                                <input type="text" id="bioDateEnteredService" class="form-control form-control-sm " readonly value="@bioData.bioDateEnteredService" />
                            </div>
                            <div class="form-group col">
                                <label for="bioFlightCrewPosition">Flight Crew Position:</label>
                                <input type="text" id="bioFlightCrewPosition" class="form-control form-control-sm " readonly value="@bioData.bioFlightCrewPosition" />
                            </div>
                        <div class="form-group row">
                            <div class="form-group col">
                                <label for="bioSpecialTraining">Cadet Class:</label>
                                <input type="text" id="bioSpecialTraining" class="form-control form-control-sm " readonly value="@bioData.bioCadetClass" />
                            </div>
                            <div class="form-group col">
                                <label for="bioSpecialTraining">Graduated:</label>
                                <input type="text" id="bioSpecialTraining" class="form-control form-control-sm " readonly value="@bioData.bioGraduationLocation" />
                            </div>
                        </div>
                        <div class="form-group row">
                            
                            <div class="form-group col">
                                <label for="bioSpecialTraining">Special Training:</label>
                                <input type="text" id="bioSpecialTraining" class="form-control form-control-sm " readonly value="@bioData.bioSpecialTraining" />
                            </div>
                        </div>
                        </div>
                        <div class="form-group row">
                            
                            <div class="form-group col">
                                <label for="bioLocationArrivalDate">Arrived:</label>
                                <input type="text" id="bioLocationArrivalDate" class="form-control form-control-sm " readonly value="@bioData.bioLocationArrivalDate" />
                            </div>
                            <div class="form-group col">
                                <label for="bioArrivedFrom">Arrived From:</label>
                                <input type="text" id="bioArrivedFrom" class="form-control form-control-sm " readonly value="@bioData.bioArrivedFrom" />
                            </div>
                            <div class="form-group col">
                                <label for="bioArrivedHow">Arrived Via:</label>
                                <input type="text" id="bioArrivedHow" class="form-control form-control-sm " readonly value="@bioData.bioArrivedHow" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col">
                                <label for="bioDepartedFrom">Departed:</label>
                                <input type="text" id="bioDepartedFrom" class="form-control form-control-sm " readonly value="@bioData.bioDepartedFrom" />
                            </div>
                            <div class="form-group col">
                                <label for="bioDepartedFrom">Departed From:</label>
                                <input type="text" id="bioDepartedFrom" class="form-control form-control-sm " readonly value="@bioData.bioDepartedLocation" />
                            </div>
                            <div class="form-group col">
                                <label for="bioDepartedHow">Departed Via:</label>
                                <input type="text" id="bioDepartedHow" class="form-control form-control-sm " readonly value="@bioData.bioDepartedHow" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col">
                                <label for="bioOccupationPrior">Prior Occupation:</label>
                                <input type="text" id="bioOccupationPrior" class="form-control form-control-sm " readonly value="@bioData.bioOccupationPrior" />
                            </div>
                            <div class="form-group col">
                                <label for="bioOccupationAfter">Post Occupation:</label>
                                <input type="text" id="bioOccupationAfter" class="form-control form-control-sm " readonly value="@bioData.bioOccupationAfter" />
                            </div>
                        </div>
                        <div class="form-group row">
                            
                            <div class="form-group col">
                                <label for="bioDetails">Details:</label>
                                <textarea id="bioDetails" class="form-control" readonly>@bioData.bioDetails</textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            
                            <div class="form-group col">
                                <label for="bioDetails">Trip Details:</label>
                                <textarea id="bioDetails" class="form-control" readonly>@bioData.bioTripDetails</textarea>
                            </div>
                        </div>
                    }
                    else
                    {
                        <span>No Bio Data Found</span>
                    }
                </div>
            </ModalBody>
            <ModalFooter>
                <div class="justify-content-between">
                    <span class="text-left small font-italic text-muted">* not all bio data available is displayed.</span>
                    <button type="button" class="btn btn-secondary" @onclick="HideModal">Close</button>
                </div>
                
            </ModalFooter>
        </ModalContent>
    </Modal>
    <div class="sunken-panel">
    <table class="interactive">
        <thead>
            <tr>
                <th>PerIdentification</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Bio</th>
                <th>Flight Group</th>
                <th>Squadron</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Personnel in PersonnelList)
                {
                    <tr>
                        <td>@Personnel.PerIdentification</td>
                        <td>@Personnel.FirstName</td>
                        <td>@Personnel.LastName</td>
                        <td>
                            @if (Personnel.HasBio)
                            {
                                <button type="button" class="btn btn-link" @onclick="() => ShowModal(Personnel)">View Bio</button>
                            }
                            else
                            {
                                <span>No Bio</span>
                            }
                        </td>
                        <td>@Personnel.PerGroup</td>
                        <td>@Personnel.PerSquadron</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
